body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    text-align: center;
    /* border: 15px solid tomato;
    height: 100%; */
}

/*############# UNIVERSAL STYLES ###############  */

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* .block-input-style {
    padding: 2% 24%;
} */

.input-unit input {
    display: block;
}

.block-input-style input {
    font-family: "Roboto Mono", monospace;
    box-sizing: border-box;
    font-size: 1.4rem;
    color: gray;
    height: 35px;
    width: 300px;
    margin-bottom: 4%;
    text-align: center;
    outline-color: tomato;
}

img {
    height: 200px;
    width: 200px;
    object-fit: cover;
}
button {
    margin-top: 5px;
    display: block;
}
/*############# UNIVERSAL STYLES END ###############  */
.welcome-people-quote {
    width: 100%;
}

#welcome-wrap {
    padding-top: 6%;
}

#welcome-wrap h1 {
    font-size: 15rem;
    color: tomato;
    -webkit-text-stroke: 1px tomato;
    -webkit-text-fill-color: transparent;
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    margin: 0 auto;
}

#welcome-wrap h1:hover {
    color: tomato;
    -webkit-text-stroke: 0px tomato;
    -webkit-text-fill-color: tomato;
    transform: rotate(180deg);
    cursor: none;
}

#welcome-wrap p {
}

.profile-pic-wrap {
    justify-content: flex-end;
    padding-right: 2%;
    padding-top: 1%;
}

.profile-pic-wrap img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.profile-image {
}

.profile-image img {
    height: 400px;
    width: 400px;
}

/*############ BIO######## */
p.bio-content {
    display: inline-block;
}

img.edit-bio {
    height: 25px;
    width: 25px;
    padding-left: 2%;
    cursor: pointer;
}

.other-profile-wrap h1 {
    color: tomato;
    font-size: 15rem;
    font-family: "Roboto Mono";
    margin: 0 auto;
}

/* #######LOGOUT####### */

.logout-wrap img {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 30px;
    left: 15px;
    cursor: pointer;
}
