body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

/*############# UNIVERSAL STYLES ###############  */

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.block-input-style {
    padding: 0 25%;
}

.block-input-style input {
    font-family: "Roboto Mono", monospace;
    font-size: 1.4rem;
    color: gray;
    height: 35px;
    width: 300px;
    margin-bottom: 4%;
    margin-right: 2%;
}

img {
    height: 200px;
    width: 200px;
    object-fit: cover;
}
/*############# UNIVERSAL STYLES END ###############  */

#welcome-wrap {
}

#welcome-wrap h1 {
    font-size: 15rem;
    color: tomato;
    -webkit-text-stroke: 1px tomato;
    -webkit-text-fill-color: transparent;
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    margin: 0 auto;
}

#welcome-wrap h1:hover {
    color: tomato;
    -webkit-text-stroke: 0px tomato;
    -webkit-text-fill-color: tomato;
    transform: rotate(180deg);
    cursor: none;
}

.profile-pic-wrap {
    justify-content: flex-end;
    padding-right: 2%;
    padding-top: 1%;
}

.profile-pic-wrap img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.profile-image {
}

.profile-image img {
    height: 400px;
    width: 400px;
}

.other-profile-wrap h1 {
    color: tomato;
    font-size: 15rem;
    font-family: "Roboto Mono";
    margin: 0 auto;
}
