body {
    margin: 0;
    font-family: "Roboto Mono", monospace;
    text-align: center;
    box-sizing: border-box;
}

/*############# UNIVERSAL STYLES ###############  */
.flex-container-border {
    border: 2px dashed blue;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* .block-input-style {
    padding: 2% 24%;
} */

.input-unit input {
    display: block;
}

.block-input-style input {
    box-sizing: border-box;
    font-size: 1.4rem;
    color: gray;
    height: 35px;
    width: 300px;
    margin-bottom: 4%;
    text-align: center;
    outline-color: tomato;
}

img {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

#app-wrap {
    /* border: 15px solid tomato; */
    height: 100%;
    background: url("/images/water-rain.png") no-repeat center center fixed;
}

/*############# UNIVERSAL STYLES END ###############  */
.welcome-people-quote {
    width: 100%;
}

#welcome-wrap {
    padding-top: 6%;
}

#welcome-wrap h1 {
    font-size: 15rem;
    color: tomato;
    -webkit-text-stroke: 1px tomato;
    -webkit-text-fill-color: transparent;
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    margin: 0 auto;
}

#welcome-wrap h1:hover {
    color: tomato;
    -webkit-text-stroke: 0px tomato;
    -webkit-text-fill-color: tomato;
    transform: rotate(180deg);
    cursor: none;
}

#welcome-wrap p {
}

#welcome-wrap button {
    margin-top: 5px;
    display: block;
}

/* #########PROFILE PIC############# */

.profile-pic-wrap {
    justify-content: flex-end;
    padding-right: 2%;
    padding-top: 1%;
}

.profile-pic-wrap img {
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    height: 65px;
    width: 65px;
    border-radius: 50%;
}

.profile-image {
}

.profile-image img {
    height: 400px;
    width: 400px;
}

.bio-section {
    margin-top: -4%;
}

.bottom-top {
    writing-mode: vertical-rl;
    position: absolute;
    top: 42%;
    left: 28%;
    transform: rotate(180deg);
}

/*############ BIO######## */
p.bio-content {
    display: inline-block;
}

img.edit-bio {
    height: 20px;
    width: 20px;
    padding-left: 2%;
    cursor: pointer;
}

.other-profile-wrap h1 {
    color: tomato;
    font-size: 15rem;
    font-family: "Roboto Mono";
    margin: 0 auto;
}

/*############CHAT############*/
.chat-wrap {
    max-height: 400px;
    overflow: auto;
}

/*############FRIENDS############*/
.wannabes-wrap,
.friends-wrap {
    padding: 0 4%;
}
.wannabes-wrap.flex-container,
.friends-wrap.flex-container {
    justify-content: space-around;
    align-items: space-around;
    margin-bottom: 6%;
}

.wannabe-unit,
.friend-unit {
    /* background-color: rgba(0, 0, 16, 0.8); */
    border: 1px solid grey;
    padding: 1%;
    margin-top: 2%;
    /* opacity: 0;

    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.3, 0, 0.4, 1); */
}

.wannabe-unit:hover {
    opacity: 1;
}

.wannabe-unit button {
}

/* #######ONLINE####### */
.online-users-wrap {
    flex-direction: column;
}

.online-wrap img {
    flex-basis: 100px;
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

/* #######LOGOUT####### */

.logout-wrap img {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 30px;
    left: 15px;
    cursor: pointer;
}
