body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  background: url("/images/water-rain.png") no-repeat center center fixed;
}

b {
  background-color: red;
  height: 50px;
  width: 100%;
}
/*############# UNIVERSAL STYLES ###############  */
.flex-container-border {
  border: 2px dashed blue;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* .block-input-style {
    padding: 2% 24%;
} */

.input-unit input {
  display: block;
}

.block-input-style input {
  box-sizing: border-box;
  font-size: 1.4rem;
  color: gray;
  height: 35px;
  width: 300px;
  margin-bottom: 4%;
  margin-right: 15px;
  text-align: center;
  outline-color: maroon;
  background: none;
  border: 1px solid maroon;
  font-family: "Roboto Mono", monospace;
}

img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

#app-wrap {
  /* border: 15px solid tomato; */
}

.profile-pic-wrap a {
  color: black;
  transform: rotate(180deg);
  text-decoration: none;
  cursor: pointer;
}

.profile-pic-wrap a:hover {
  color: black;
  text-decoration: underline;
  background: rgba(246, 224, 107, 0.3);
  transform: rotate(0deg);
}

button {
  font-family: "Roboto Mono", monospace;
}

/*############# UNIVERSAL STYLES END ###############  */
.welcome-people-quote {
  width: 100%;
}

#welcome-wrap {
  padding-top: 6%;
}

#welcome-wrap h1 {
  font-size: 15rem;
  color: maroon;
  -webkit-text-stroke: 2px maroon;
  -webkit-text-fill-color: transparent;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  margin: 0 auto;
}

#welcome-wrap h1:hover {
  color: maroon;
  -webkit-text-stroke: 0px maroon;
  -webkit-text-fill-color: rgba(128, 0, 0, 0.81);
  /* -webkit-animation: color-change-5x 10s linear infinite alternate both;
  animation: color-change-5x 10s linear infinite alternate both; */
  transform: rotate(180deg);
  cursor: none;
  /* width: auto; */
}

#welcome-wrap p {
  font-weight: bold;
}

#welcome-wrap button {
  margin-top: 5px;
}

.border-radius {
  border-radius: 50%;
}

.chat-image {
  height: 45px;
  width: 45px;
}

.chat-sender {
  font-weight: bold;
  font-style: italic;
  padding: 0% 5%;
}

.inline {
  display: inline-block;
}

/* .color-change-5x {
  -webkit-animation: color-change-5x 10s linear infinite alternate both;
  animation: color-change-5x 10s linear infinite alternate both;
} */

/* #########PROFILE PIC############# */

.profile-pic-wrap {
  justify-content: space-around;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 3%;
}

.profile-pic-wrap img {
  /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

  height: 65px;
  width: 65px;
  border-radius: 50%;
}

.home-icon {
  position: fixed;
  height: 35px;
  width: 35px;
  left: 18px;
  top: 32px;
}

.home-icon:hover {
  transform: rotate(180deg);
}

/* ############PROFILE ##############*/

.profile-image img {
  height: 400px;
  width: 400px;
}

.bio-section {
  margin-top: -4%;
}

.bottom-top {
  writing-mode: vertical-rl;
  position: absolute;
  top: 42%;
  left: 28%;
  transform: rotate(180deg);
}

h2.friend-button {
  border: 1px solid maroon;
  width: fit-content;
  padding: 1%;
  writing-mode: vertical-rl;
  position: absolute;
  top: 32%;
  right: 29%;
  cursor: pointer;
}

/*############ BIO######## */
p.bio-content {
  display: inline-block;
}

img.edit-bio {
  height: 20px;
  width: 20px;
  padding-left: 2%;
  cursor: pointer;
}

/* .other-profile-wrap h1 {
    color: tomato;
    font-size: 15rem;
    font-family: "Roboto Mono";
    margin: 0 auto;
} */

/*############CHAT############*/
.chat-wrap {
  max-height: 400px;
  overflow: auto;
  border: 1px solid maroon;
  width: 50%;
  position: absolute;
  left: 40%;
  top: 33%;
  display: initial;
}

.chat-unit {
  background-color: rgba(250, 226, 100, 0.4);
  width: fit-content;
  margin-bottom: 5px;
  border-radius: 6%;
  padding: 10px;
}
.chat-unit img {
  display: block;
  margin: 0 auto;
}

.friend-unit img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.friends-wrap {
  width: 30%;
}

.friend-unit {
  width: 35%;
}

.chat-wrap textarea {
  width: 48%;
}

.plane {
  height: 50px;
  width: 50px;
  position: fixed;
  right: 5%;
  bottom: 4%;
}

/*############FRIENDS############*/
.wannabes-wrap,
.friends-wrap {
  padding: 0 4%;
}
.wannabes-wrap.flex-container,
.friends-wrap.flex-container {
  justify-content: space-around;
  align-items: space-around;
  margin-bottom: 6%;
}

.wannabe-unit,
.friend-unit {
  /* background-color: rgba(0, 0, 16, 0.8); */
  border: 1px solid grey;
  padding: 1%;
  margin-top: 2%;
  /* opacity: 0;

    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.3, 0, 0.4, 1); */
}

.wannabe-unit:hover {
  opacity: 1;
}

.wannabe-unit button {
}

/* #######ONLINE####### */
.online-users-wrap {
  flex-direction: column;
}

.online-wrap img {
  flex-basis: 100px;
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

.online-wrap h1 {
  margin-right: 62%;
  margin-top: 5%;
}

.uploader {
  width: min-content;
  position: absolute;
  right: 2%;
}
/* #######LOGOUT####### */

.logout-wrap img {
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 30px;
  left: 15px;
  cursor: pointer;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-9-20 18:44:11
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation color-change-5x
 * ----------------------------------------
 */
@-webkit-keyframes color-change-5x {
  0% {
    background: #de3c6d;
  }
  25% {
    background: #f97c7a;
  }
  50% {
    background: #f7dd60;
  }
  75% {
    background: #49c288;
  }
  100% {
    background: #297fc0;
  }
}
@keyframes color-change-5x {
  0% {
    background: #de3c6d;
  }
  25% {
    background: #f97c7a;
  }
  50% {
    background: #f7dd60;
  }
  75% {
    background: #49c288;
  }
  100% {
    background: #297fc0;
  }
}
